<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>LiftOvers</title>
    <!-- Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="./public/assets/css/style.css">
    <!-- Material icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <main>
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">LIFTOVERS</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#">Sign In</a></li>
                    <li><a href="#">Driver</a></li>
                    <li><a href="#">Organization</a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
        </div>
    </main>
    <footer class="page-footer">
        <div class="container">
            © 2017 LiftOvers
        </div>
    </footer>
</body>

</html>