<!DOCTYPE html>
<html>
<<<<<<< HEAD
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Hello World
      </h1>
      <p class="subtitle">
        My first website with <strong>Bulma</strong>!
      </p>
    </div>
  </section>
  </body>
=======

<head>
    <meta charset="UTF-8">
    <title>LiftOvers</title>
    <!-- Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="./public/assets/css/style.css">
    <!-- Material icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <main>
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">LIFTOVERS</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#">Sign In</a></li>
                    <li><a href="#">Driver</a></li>
                    <li><a href="#">Organization</a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
        </div>
    </main>
    <footer class="page-footer">
        <div class="container">
            © 2017 LiftOvers
        </div>
    </footer>
</body>

>>>>>>> 90703101e18022f1e4e4d64b729e1ae9208f0722
</html>