<!DOCTYPE html>
<html>

<head>
<<<<<<< HEAD
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lift Overs</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css" integrity="sha256-HEtF7HLJZSC3Le1HcsWbz1hDYFPZCqDhZa9QsCgVUdw=" crossorigin="anonymous" />
</head>

<body>
    <section class="hero is-fullheight is-default is-bold">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="../">
                          <img src="../images/bulma.png" alt="Logo">
                        </a>
                        <span class="navbar-burger burger" data-target="navbarMenu">
                        <span></span>
                        <span></span>
                        <span></span>
                        </span>
                    </div>
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                            <a class="navbar-item is-active">Home</a>
                            <a class="navbar-item">Drivers</a>
                            <a class="navbar-item">Organization</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="hero-body">
            <div class="container">
                <div class="columns is-vcentered">
                    <div class="column is-5">
                        <figure class="image is-4by3">
                            <img src="http://placehold.it/800x600" alt="Description">
                        </figure>
                    </div>
                    <div class="column is-6 is-offset-1">
                        <form>
                            <div class="field">
                                <label class="label">Email</label>
                                <div class="control has-icons-left has-icons-right">
                                    <input class="input is-danger" type="email" placeholder="Email input" value="">
                                    <span class="icon is-small is-left">
                                      <i class="fas fa-envelope"></i>
                                    </span>
                                    <span class="icon is-small is-right">
                                    <i class="fas fa-exclamation-triangle"></i>
                                    </span>
                                </div>
                                <p class="help is-danger">This email is invalid</p>
                            </div>
                            <div class="field">
                                <label class="label">Confirm Email</label>
                                <div class="control has-icons-left has-icons-right">
                                    <input class="input is-danger" type="email" placeholder="Email input" value="">
                                    <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                    </span>
                                    <span class="icon is-small is-right">
                                    <i class="fas fa-exclamation-triangle"></i>
                                    </span>
                                </div>
                                <p class="help is-danger">This email is invalid</p>
                            </div>
                            <div class="field">
                                <label class="label">User Type</label>
                                <div class="control">
                                    <div class="select">
                                        <select>
                                            <option>Driver</option>
                                            <option>Organization</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <label class="checkbox">
                                        <input type="checkbox"> I agree to the <a href="#">terms and conditions</a>
                                    </label>
                                </div>
                            </div>
                            <div class="field is-grouped">
                                <div class="control">
                                    <button class="button is-link">Submit</button>
                                </div>
                                <div class="control">
                                    <button class="button is-text">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-foot">
            <div class="container">
                <div class="tabs is-centered">
                    <ul>
                        <li><a>Copyright LiftOvers 2018</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <script async type="text/javascript" src="../js/bulma.js"></script>
=======
    <meta charset="UTF-8">
    <title>LiftOvers</title>
    <!-- Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="./public/assets/css/style.css">
    <!-- Material icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <main>
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">LIFTOVERS</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#">Sign In</a></li>
                    <li><a href="#">Driver</a></li>
                    <li><a href="#">Organization</a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col s6">
                    <div><img src="./public/assets/img/food.jpg" width="800px" class="responsive-img z-depth-5"></div>
                </div>
                <div class="col s6">
                    <form action="/formpostroute" method="POST">
                        <div class="input-field col s12">
                            <input id="email" type="email" class="validate">
                            <label for="email" data-error="wrong" data-success="right">Email</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="password" type="password" class="validate">
                            <label for="password">Password</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="password" type="password" class="validate">
                            <label for="password">Confirm Password</label>
                        </div>
                        <select class="browser-default">
                            <option value="" disabled selected>User Type</option>
                            <option value="1">Driver</option>
                            <option value="2">Organization</option>
                        </select>
                        <div class="input-field col s12">
                            <button type="submit" class="btn waves-effect waves-light">
                                Sing-Up<i class="material-icons right">add_circle_outline</i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div></div>
                </div>
            </div>
        </div>
    </main>
    <footer class="page-footer">
        <div class="container">
            © 2017 LiftOvers
        </div>
    </footer>
>>>>>>> 90703101e18022f1e4e4d64b729e1ae9208f0722
</body>

</html>