<script>
    //axios.post("/auth/login", {email: "test@fake.net", password: "password" })
    //.then(function(response) {
    //    console.log(response);
    //    localStorage.setItem("token", response.data.token);

    //})
axios({
    method: "get",
    url:"/org/supplier",
    headers: {
        "Authorization": "Bearer "+ localStorage.getItem("token")
    }
})
.then(function(response) {
    console.log(response);
    var elem = document.getElementById("msg");
    elem.innerHTML = response.data;
    var payload = JSON.parse(window.atob(localStorage.getItem("token").split('.')[1]));
    console.log(payload)
})
.catch(function(err) {
    console.error(err);
})
</script>

<h1>SUPPLIER</h1>