<h1>USER</h1>

<form id="user-form" type="submit">
    <input type="text" name="first-name" id="user-first-name">
    <label>user first name</label>

    <input type="text" name="last-name" id="user-last-name">
    <label>user last name</label>

    <input type="text" name="phone" id="user-phone">
    <label>user phone</label>

    <input type="text" name="email" id="user-email">
    <label>user email</label>

    <div class="input-field">
        <select>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
        </select>
        <label>Materialize Select</label>
    </div>

     <button type="submit">Submit</button>

</form>
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

<script src="./assets/js/user.js"></script>
